#requestPanel {
    flex-grow: 1;
}

/* Request Header Row -> Left to Right */
#requestHeaderRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Config Input Row -> Left to Right, Flex in Favour of Button */
.requestInputRow {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.requestInput {
    flex-grow: 3;
}

#uuidInputField {
    width: 98.75%;
}

#exportTypeSelect {
    width: 100%;
}

.submitButton {
    flex-grow: 1;

    height: 50px;
    margin-top: 10px;
}