# Backend Environmental Variables
FRONTEND_URL=http://localhost:5173
POSTGRES_DB=algorinth
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
DATABASE_URL=
# Frontend Environmental Variable
VITE_API_BASE_URL=http://localhost:8000