html,
body,
/* Root Styling */
#root {
    margin: 0;
    padding: 0;

    width: 100%;
    min-height: 100vh;

    /* background: var(--colour-background); */

    background-color: var(--colour-background);
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 50px 50px;
    animation: scrollGrid 10s linear infinite;
}

@keyframes scrollGrid {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px;
  }
}

/* Overall Text Styling */
body {
    font-family: var(--font-primary);
    color: var(--colour-text-on-surface);
}

/* Overall Input Styling */
input, select {
    font: inherit;

    color: var(--colour-text-on-field);

    border: none;
    border-radius: var(--border-radius);

    padding-left: 0.5rem; 
}

/* Overall Button Styling */
button {
    font: inherit;
    font-weight: bold;

    background: var(--colour-cta);
    color: var(--colour-text-on-cta);

    border: var(--border-width) solid var(--colour-border-on-cta);
    border-radius: var(--border-radius);

    cursor: pointer;

    transition: background-color 0.2s;
}

/* Styling for "Pushable" Buttons */
.pushableButton {
    padding: 0;

    background: var(--colour-border-on-cta);
}

.pushableButtonFront {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--colour-cta);

    transform: translateY(-6px); /* Size of "Edge" */
    
    border-radius: var(--border-radius);
}

.pushableButton:active .pushableButtonFront {
    transform: translateY(-2px); /* On Press -> Move Down */
}

.buttonStyle {
    font: inherit;
    font-weight: bold;

    background: var(--colour-cta);
    color: var(--colour-text-on-cta);

    border: var(--border-width) solid var(--colour-border-on-cta);
    border-radius: var(--border-radius);
}

button:hover {
    filter: brightness(110%);
}

/* Overall Fieldset (Input Border) Styling */
fieldset {
    background-color: var(--colour-background);

    border: var(--border-width) solid var(--colour-border-on-surface);
    border-radius: var(--border-radius);
}

legend {
    font-weight: bold;
}

/* Overall Line Break Styling */
hr { 
    width:100%; 
    height:3px; 
    background: var(--colour-border-on-surface); 

    border: none;
    border-radius: var(--border-radius);
}

/* Overall Panel Styling */
.panel {
    background: var(--colour-surface);
    border: var(--border-width) solid var(--colour-border-on-surface);
    border-radius: var(--border-radius);
    padding: 0.75rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Overall Section Styling */
.section {
    margin: 2px;
}

/* Overall Error Message Styling */
.errorMessage {
    color: var(--colour-error);
    font-weight: bold;
}

/* Overall Range Styling (Mess for Multiple Browsers) */

input[type=range] {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 10px; /* Specified height */
  background: var(--colour-background);
  outline: none; /* Remove outline */
  border-radius: var(--border-radius);
  box-shadow: 0 2px 0 rgba(0,0,0,0.2);
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: var(--colour-surface); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

input[type=range]::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: var(--colour-surface); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

/* Bouncing Text Effect */
.bounceText span {
    display: inline-block;
    animation: bounce 2.0s infinite ease-in-out;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(+15px);
    }
    50% {
        transform: translateY(-15px);
    }
}