@font-face {
    font-family: space-grotesk;
    src: url(space-grotesk-latin-wght-normal.woff2);
}

:root {
    /* Colours */
    --colour-background: #264653;
    --colour-surface: #2a9d8f;
    --colour-cta: #e9c46a;
    --colour-cta-light: #eedaa9;
    --colour-error: #a63232;

    --colour-text-on-surface: #ffffff;
    --colour-text-on-cta: #000000;
    --colour-text-on-field: #000000;

    --colour-border-on-surface: #195e56;
    --colour-border-on-cta: #b89a51;

    --colour-cell-unvisited: #ffffff;
    --colour-cell-visited: #eedaa9;
    --colour-cell-border: #000000;

    /* Typography */
    --font-primary: space-grotesk;

    /* Borders */
    --border-radius: 6px;
    --border-width: 2px;
}