#playbackPanel {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    justify-content: center;
    align-items: center;
}

#stepCounter {
    width: 120px;

    text-align: center;

    font-weight: bold;
    font-size: large;
    background-color: var(--colour-background);
}

#speedController {
    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#speedControllerCounter {
    font-weight: bold;
    font-size: large;

    margin-bottom: 0px;
}

#speedControllerRange {
    margin-bottom: 10px;
}

#speedControllerCounter, #speedControllerRange {
    margin-top: 5px;
}

.playbackButton {
    width: 50px;
    position: relative;
}

.playbackButtonFront {
    height: 45px;
}

.playbackButton:disabled {
    background: var(--colour-background);
    border: var(--border-width) solid var(--colour-border-on-surface);
}

.playbackButton:disabled .pushableButtonFront {
    background: var(--colour-border-on-surface);
}

.tooltip {
    position: absolute;
    left: 50%;
    bottom: calc(100% + 0.5rem);
    transform: translateX(-50%);

    padding: 0.5rem;
    border-radius: var(--border-radius);

    font-size: small;
    color: var(--colour-text-on-surface);
    background-color: rgba(0, 0, 0, 0.1);

    opacity: 0;
    transition: opacity 0.5s ease;
}

.playbackButton:hover .tooltip {
    opacity: 1;
}