#playbackPanel {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    justify-content: center;
    align-items: center;
}

#stepCounter {
    width: 120px;

    text-align: center;

    font-weight: bold;
    font-size: large;
    background-color: var(--colour-background);
}

#speedController {
    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#speedControllerCounter {
    font-weight: bold;
    font-size: large;
    
    margin-bottom: 0px;
}

#speedControllerRange {
    margin-top: 0px;
    margin-bottom: 10px;
}

.playbackButton {
    height: 50px;
    width: 50px;
}

.playbackButton:disabled {
    background: var(--colour-background);
}