/* Content Panel -> Left to Right in Golden Ratio */
#contentPanel {
    display: grid;
    grid-template-columns: 1fr 1.618fr;
}

/* Maze Panel -> Top to Bottom w/ Focus on Upper Area */
#mazePanel {
    display:flex;
    flex-direction:column;
}

/* Maze Placeholder */
#mazePlaceholder {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: large;
    font-weight: bold;
}

/* Grid Panel -> Favoured in Flex Size, Centre Align Items */
#gridPanel {
    flex-grow: 1;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

/* Grid Label -> Left to Right, Centre Align Items */
#gridLabel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* IO Panel -> Top to Bottom w/ Focus on Upper Area */
#ioPanel {
    display:flex;
    flex-direction:column;
    align-self: flex-end;
}

/* Hidden Final Grid -> Hidden from Document Flow, Just there for Exporting */
#hiddenFinalGrid {
    position: absolute;
    left: -10000px;
    top: 0;
    z-index: -1;
}