/* Title Panel */
#titlePanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Title Text */
#titleText {
  font-size: xx-large;
  font-weight: bold;
  margin-left: 1rem;
}

/* logo */
#logo {
    width: 50px;
    height: 50px;
    filter: invert(1)
}

/* Mode Text */
#modeText {
    font-weight: bold;

    position: absolute;
    left: 8rem;
    margin-bottom: 6px;
}

.titleButton {
    width: 45px;
}

.audioButton {
    position: absolute;
    left: 1rem;
}

.modeButton {
    position: absolute;
    left: 4rem;
}

.githubButton {
    position: absolute;
    right: 1rem;
}

.titleButton + .titleButton {
    margin-left: 0.5rem;
}

.titleButtonFront {
    height: 40px;
}

.titleTooltip {
    bottom: calc(-200% - 0.5rem);
}