/* Individual Cell Styling */
.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    box-sizing: border-box;
    transition-duration: 0.2s;
}

.cell:hover {
    filter: brightness(110%);
}