/* Config Panel (Favoured Flex Grow) -> Top to Bottom */
#configPanel {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

/* Config Header Row -> Left to Right */
#configHeaderRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Config Input Row -> Left to Right w/ Grid */
#configInputRow {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#configDimensions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#configDimensionsDivider {
    margin-top: 25px;
}

/* Dynamic Content Row -> Expands w/ Flex Grow */
#configContentRow {
    flex-grow: 1;
    background-color: var(--colour-background);
        
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.trait {
    color: var(--colour-text-on-cta);
    border-radius: var(--border-radius);
    background: var(--colour-cta-light);
    padding: 5px;
}

.trait:hover {
    filter: brightness(110%);
}

#traitRow span + span {
    margin-left: 15px;
}

#configContentTextUseCase {
    font-weight: bold;
    margin-right: 20px;
}

/* Config Submit Button -> Entire Width of Config Submit Row */
#configSubmit {
    width: 100%;
}

/* Margin Between Rows */
#configHeaderRow, #configInputRow, #configContentRow {
    margin-bottom: 0.5rem;
}